.TodoList {
  width: 760px;
  margin: 25px 50px 5px;
  &__item-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20px;
    margin: 10px 0;
    border: 0.5px solid #1E94E9;
    border-radius: 40px 25px 25px 40px;
    .item {
      width: 80%;
      border-radius: 25px;
      font-size: 24px;
      cursor: pointer;
      -webkit-user-select: none;
    }

    .delete {
      position: absolute;
      width: 60px;
      height: 75px;
      border-radius: 0 25px 25px 0;
      background-color: #f25544;
      border: none;
      cursor: pointer;
      right: 3px;
    }
  }
}